git+https://github.com/woeplanet/py-woeplanet-placetypes
git+https://github.com/woeplanet/py-woeplanet-uri
elasticsearch>=7.0.0,<8.0.0
geojson-rewind==1.0.3
pygeohash==1.2.0
shapely==2.0.1
Fiona==1.9.3
chevron==0.14.0
